<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>"Cart" StarElectrix</title>
</head>
<body>
    <header class="BarradeNavegacion">
        <div class="BNLogo">
            <Ul><img src="StarElectric-logo.png" alt="Logo" height = 100% onclick="location.href='home.html'"></Ul>
        </div>
        <div class="BNBusqueda">
            <ul>
                <li><Input type="search" ></Input></li>
            </ul>
        </div>
        <div class="BNOpciones">
                <li><img src="Resourses/EstadoDeCuenta.png" alt="Estado/Cuenta" height = 50px onclick="location.href='login.html'"></li>
                <li><img src="Resourses/BarraDeOpciones.png" alt="BarradeOpciones" height= 50px></li>
        </div>
    </header>
    <main class="ContenedorCarrito">
            <div class="InfoGeneral">
                <h3>Carrito</h3>
                <h5>Remover todo</h5>
            </div>
            <div class="CartPrimerProducto">
                <div class="CartImgProducto">
                    <img src="Resourses/Gabinete.png" alt="" height="100px">
                </div>
                <div class="CartProductoDetalles">
                    <h1>Gabinete Gamer Vidrio 6rgb Multicolor</h1>
                    <h3>P/U $24.200</h3>
                    <h1>T: $24.200</h1>
                </div>
                <div class="CartCantidadDeUnidades">
                    <h2 class="CartBotonUnidad">+</h2>
                    <h2 class="CartUnidadesElegidas">1</h2>
                    <h2 class="CartBotonUnidad">-</h2>
                    <h5>Remover</h5>
                </div>
            </div>
            <div class="CartPrimerProducto">
                <div class="CartImgProducto">
                    <img src="Resourses/MouseAzul.png" alt="" height="100px">
                </div>
                <div class="CartProductoDetalles">
                    <h1>Mouse Gamer Inalambrico Usb 6 Botones</h1>
                    <h3>P/U $3.000</h3>
                    <h1>T: $9.000</h1>
                </div>
                <div class="CartCantidadDeUnidades">
                    <h2 class="CartBotonUnidad">+</h2>
                    <h2 class="CartUnidadesElegidas">3</h2>
                    <h2 class="CartBotonUnidad">-</h2>
                    <h5>Remover</h5>
                </div>
            </div>
            <div class="InfoFinal">
                <div class="CartSubTotal">
                    <h2>Sub-Total</h2>
                    <h2>$33.200</h2>
                </div>
                <div class="CartTotalItems">
                    <h6>2 Items</h6>
                </div>
                <div class="CartBotonConfirmarCompra">
                    <button onclick="location.href='login.html'">Confirmar Compra</button>
                </div>
            </div>
    </main>
    <footer class="FooterContenedor">
        <div class="FooterLinks">
                <div class="FooterInformacion">
                    <h3><a href="home.html">Centro de Ayuda</a></h3>
                    <h3><a href="home.html">Mas sobre nosotros</a></h3>
                    <h3><a href="home.html">Informacion de la Cuenta</a></h3>
                    <h3><a href="home.html">Terminos y Condiciones de uso</a></h3>
                    <h3><a href="home.html">Políticas de Privacidad</a></h3>
                </div>
                <div class="FooterLogo">
                    <img src="StarElectric-logo.png" alt="StarElectric-logo" width="150px" height="150px" onclick="location.href='home.html'">
                </div>
        </div>
        <div class="FooterContacto">
                <img src="Resourses/IconTwiter.png" alt="Twitter" width="50px" height="50px" onclick="location.href='https://twitter.com'">
                <img src="Resourses/IconInstagram.png" alt="Instagra" width="50px" height="50px" onclick="location.href='https://www.instagram.com'">
                <img src="Resourses/IconFacebook.png" alt="Facebook" width="50px" height="50px" onclick="location.href='https://www.facebook.com'">
                <img src="Resourses/IconLinkedIn.png" alt="Linkedin" width="50px" height="50px" onclick="location.href='https://www.linkedin.com'">
                <img src="Resourses/IconWhatsApp.png" alt="WhatsApp" width="50px" height="50px" onclick="location.href='https://www.whatsapp.com'">
        </div>  
        <h6>Copyrigths 2022 © StarElectric - Todos Los Derechos Reservados</h6>
    </footer>
</body>
</html>