<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>"Detail Product" StarElectrix</title>
</head>
<body>
    <header class="BarradeNavegacion">
        <div class="BNLogo">
            <Ul><img src="StarElectric-logo.png" alt="Logo" height = 100% onclick="location.href='home.html'"></Ul>
        </div>
        <div class="BNBusqueda">
            <ul>
                <li><Input type="search" ></Input></li>
            </ul>
        </div>
        <div class="BNOpciones">
                <li><img src="Resourses/EstadoDeCuenta.png" alt="Estado/Cuenta" height = 50px onclick="location.href='login.html'"></li>
                <li><img src="Resourses/BarraDeOpciones.png" alt="BarradeOpciones" height= 50px></li>
        </div>
    </header>
    <main class="MainContenedor">
        <div class="MainBanner">
            <div class="Banner">
                <img src="Resourses/Banner.png" alt="Banner" width = "100%" onclick="location.href='home.html'">
            </div>
            <p>Ofertas de la semana</p>
        </div>
        <h1 class="TitulosCentrales">Productos</h1>
        <div class="Productos">
                <div class="Producto1">
                    <div class="ProductoImagen">
                        <img src="Resourses/MouseAzul.png" alt="Articulo1" onclick="location.href='detailproduct.html'">
                    </div>
                    <div class="ProductoInformacion">
                        <h1>Mouse Gamer Inalambrico Usb 6 Botones</h1>
                        <h4 class="ProductoEnTendencia">1° MAS VENDIDOS</h4>
                        <h4 class="DetallesDelEnvio">Envio Gratis</h4>
                        <h2>$3.000</h2>
                        <button onclick="location.href='detailproduct.html'" class="BotonDeCompra">Comprar</button>
                    </div>
                </div>
                <div class="Producto2">
                    <div class="ProductoImagen">
                        <img src="Resourses/Gabinete.png" alt="Articulo2" onclick="location.href='detailproduct.html'">
                    </div>
                    <div class="ProductoInformacion">
                        <h1>Gabinete Gamer Vidrio 6rgb Multicolor</h1>
                        <h4 class="ProductoEnTendencia">2° MAS VENDIDOS</h4>
                        <h4 class="DetallesDelEnvio">Envio Gratis</h4>
                        <h2>$24.200</h2>
                        <button onclick="location.href='detailproduct.html'" class="BotonDeCompra">Comprar</button>
                    </div>
                </div>
                <div class="Producto3">
                    <div class="ProductoImagen">
                        <img src="Resourses/KitGamer.png" alt="Articulo3" onclick="location.href='detailproduct.html'">
                    </div>
                    <div class="ProductoInformacion">
                        <h1>Kit de teclado y mouse gamer Soul 4 en 1</h1>
                        <h4 class="DetallesDelEnvio">Envio Gratis</h4>
                        <h2>$5.500</h2>
                        <button onclick="location.href='detailproduct.html'" class="BotonDeCompra">Comprar</button>
                    </div>
                </div>
        </div>
    </main>
    <footer class="FooterContenedor">
        <div class="FooterLinks">
                <div class="FooterInformacion">
                    <h3><a href="home.html">Centro de Ayuda</a></h3>
                    <h3><a href="home.html">Mas sobre nosotros</a></h3>
                    <h3><a href="home.html">Informacion de la Cuenta</a></h3>
                    <h3><a href="home.html">Terminos y Condiciones de uso</a></h3>
                    <h3><a href="home.html">Políticas de Privacidad</a></h3>
                </div>
                <div class="FooterLogo">
                    <img src="StarElectric-logo.png" alt="StarElectric-logo" width="150px" height="150px" onclick="location.href='home.html'">
                </div>
        </div>
        <div class="FooterContacto">
                <img src="Resourses/IconTwiter.png" alt="Twitter" width="50px" height="50px" onclick="location.href='https://twitter.com'">
                <img src="Resourses/IconInstagram.png" alt="Instagra" width="50px" height="50px" onclick="location.href='https://www.instagram.com'">
                <img src="Resourses/IconFacebook.png" alt="Facebook" width="50px" height="50px" onclick="location.href='https://www.facebook.com'">
                <img src="Resourses/IconLinkedIn.png" alt="Linkedin" width="50px" height="50px" onclick="location.href='https://www.linkedin.com'">
                <img src="Resourses/IconWhatsApp.png" alt="WhatsApp" width="50px" height="50px" onclick="location.href='https://www.whatsapp.com'">
        </div>  
        <h6>Copyrigths 2022 © StarElectric - Todos Los Derechos Reservados</h6>
    </footer>
</body>
</html>